Repository cockpit-project/cockpit-podman, pull requests merged in 2022-02, with the labels that each got.

#900 fmf: Test fixes
  test/browser/browser.sh
Labels: no-test

#917 cockpituous: Add Fedora 36, drop 34
  cockpituous-release
Labels: no-test, release-blocker

#920 test: Accept 'Created' for not started containers
  test/check-application
Labels: release-blocker

#922 fmf: Use official TMT test data directory for artifacts
  test/browser/browser.sh
Labels: no-test

#929 cockpituous: Enable bodhi for Fedora 36
  cockpituous-release
Labels: release-blocker

#932 tmt: Put back absolute log path for older tmt versions
  test/browser/browser.sh
Labels: release-blocker
