Repository cockpit-project/cockpit-podman, pull requests merged in 2023-09, with the labels that each got.

#1391 .github: update how to check out bots
  .github/workflows/npm-update-pf.yml
  .github/workflows/npm-update.yml
Labels: no-test, .github-changes

#1390 .github: add a Fedora updates-testing nightly scenario
  .github/workflows/updates-testing-nightly.yml
Labels: no-test, .github-changes

#1392 workflows: Force nightly trigger
  .github/workflows/updates-testing-nightly.yml
Labels: no-test, .github-changes

#1393 Support the updates-testing scenario in `test/run`
  Makefile
Labels: no-test

#1401 Add podman-next scenario
  .github/workflows/nightly.yml
  Makefile
Labels: no-test, .github-changes

#1410 fmf: Hack around Testing Farm's tag-repository priority
  test/browser/browser.sh
Labels: no-test

#1409 Show toolbox & distrobox containers different in containers listing
  src/Containers.jsx
  src/podman.scss
  test/check-application
Labels: release-note

#1414 .github: add dependabot integration
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Labels: no-test, .github-changes

#1429 .github: set `[no-test]` prefix for dependabot PR's
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Labels: .github-changes
