Repository cockpit-project/cockpit-podman, pull requests merged in 2024-02, with the labels that each got.

#1556 github: allow dependeabot to update github workflow actions
  .github/dependabot.yml
Labels: .github-changes

#1563 .github: don't run integration tests on actions changes
  .github/dependabot.yml
Labels: no-test, .github-changes

#1565 test: Adjust for `podman inspect` change for "all addresses"
  test/check-application
Labels: release-blocker

#1580 test: data dir backup/restore robustification
  test/check-application
Labels: flake
