Repository cockpit-project/cockpit-podman, pull requests merged in 2024-04, with the labels that each got.

#1650 workflows: Run tasks-container-update.yml in quay.io/cockpit/tasks
  .github/workflows/tasks-container-update.yml
Labels: no-test, .github-changes

#1652 tmt: Pass TEST_AUDIT_NO_SELINUX into test container
  test/browser/browser.sh
Labels: no-test

#1660 workflows: Run tasks-container-update in "self" environment
  .github/workflows/tasks-container-update.yml
Labels: no-test, .github-changes

#1668 fmf: Restrict "-stream" TEST_OS suffix to CentOS 8/9
  test/browser/run-test.sh
Labels: no-test

#1697 dependabot: Group React and types packages
  .github/dependabot.yml
Labels: .github-changes

#1701 Makefile: workaround pasta user containers being broken
  test/run
Labels: no-test
